.navBarContainer {
    display: flex;
    justify-content: end;
    background-color: #E65100;
}

.navBarContainer nav {
    padding: 1.5rem;
    max-width: fit-content;
    background-color: aqua;
    margin-right: 2rem;
    /* margin-left: 2rem !important; */
}

.navbar a {
    color: white;
    padding-left: 1rem;
    text-decoration: none;
}