.container {
    display: flex;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

.lateralAside,
.productsContainer {
    padding: 1rem;
    min-height: calc(100vh - 69px);
    border-radius: 8px;

}

.lateralAside {
    position: relative;
    max-width: 20%;
    text-align: justify;
    margin-right: 0.5em;
    background-color: #dcedc8;
}

.lateralAside p {
    margin-top: 1rem;
}

.productsContainer {
    /* background-color: violet; */
    /* max-width: 1200px; */
    width: 100%;

}

.titles {
    margin-bottom: 1rem;
}